@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* Lock the content of the website to the center of the body  */
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 20px 30px;

  /* Set the font of the website using a custom font from Google */
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.profile-photo {
  width: 160px;
  border-radius: 50%;
  border: 3px solid teal;
  padding: 12px;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  /* margin-bottom: 10px; */
}

.contact-info-wrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.contact-info {
  width: 50%;
  color: gray;
}


/* Styles of the main content */

.main-content {
  display: flex;
  column-gap: 35px;
  margin-top: 60px;
}

.section-one {
  width: 28%;
  border-right: 2px solid rgb(113, 168, 168);

  display: flex;
  flex-direction: column;
  row-gap: 40px;

}

.section-two {
  width: 72%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

li::marker{
  color: teal
}

/* First Section  Styles*/

.education-content, .skills-content, .language-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.section-subtitle {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: black;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: gray
}

.languages-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-weight: 500;
}

/* Second Section Styles */

.about-content-wrapper, .work-experience-content-wrapper, .reference-content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.work-content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.about-description {
  line-height: 1.5;
}

.company-location {
  font-weight: 500;
}
.work-role, .work-year {
  color: gray
}

.work-description {
  font-size: 14px;
  color: gray;
  line-height: 1.5;
}

.work-role {
  margin-bottom: 5px;
} 

.reference-section-subtitle-wrapper {
  margin-bottom: 10px;
}

.reference-section-subtitle {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  color: black;
}


.reference-content {
  display: flex;
  justify-content: space-between;
  color: gray;
}